<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>

<body>
    <h1>Sign-up</h1>

    <% if (typeof(errors) != "undefined") { %> ERROR

        <ul>
            <% errors.forEach(error => { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form action="/signup" method="post">
                <input type="text" name="username" id="username" placeholder="username" />
                <input type="password" name="senha" id="senha" placeholder="senha" />

                <button type="submit">Cadastrar</button>
            </form>
</body>

</html>